
/* title-images */
    #title-images-wrapper {
        width: 520px;
        border: 1px solid #ccc;
    }

    #title-images-wrapper .image-item {
        position: relative;
        overflow: hidden;
        width: 510px;
        height: 80px;
        margin: 10px auto;
        cursor: pointer;
        background: #888;
        transition: .15s;
    }
    #title-images-wrapper .image-item img {
        background: #ccc;
        margin: 5px;
        margin-top: -80px;
        width: 500px;
        height: 250px;
        opacity: .1;
        transition: .15s;

    }
    #title-images-wrapper .image-item:hover img { opacity: .5; }
    #title-images-wrapper .image-item.active {
        height: 260px;
    }
    #title-images-wrapper .image-item.active img {
        margin: 5px;
        opacity: 1;
    }

    #title-images-wrapper .image-item span.glyphicon {
        padding: 5px 5px 5px 5px;
        border-radius: 100%;
        position: absolute;
        font-size: 32px;
        color: #000;
        top: 20px;
        transition: top .15s;
    }
    #title-images-wrapper .image-item.active span.glyphicon { 
        top: 10px; 
        background: rgba(255, 255, 255, .5);
    }
    #title-images-wrapper .image-item span.glyphicon:hover {background: blue; color: #fff; opacity: .75;}
    #title-images-wrapper .image-item span.glyphicon-remove:hover {background: red; }
    #title-images-wrapper .image-item span.glyphicon-remove { right: 20px;}
    #title-images-wrapper .image-item span.glyphicon-arrow-up { left: 10px;}
    #title-images-wrapper .image-item span.glyphicon-arrow-down { left: 60px;}

    #update-images-wrapper .update-image a { cursor: pointer;}
    #update-images-wrapper .update-image a:hover { color: red; }

