body {
    position: relative;
    height: 100%;
}
#login-form {
    /*border: 1px solid #000;*/
    box-shadow: 0 0 10px #888;
    /*border-radius: 0 0 25px 25px;*/
    position: relative;
    display: block;
    margin: auto;
    width: 600px;
    top: 100px;
    height: 240px;
}
#login-form #form-header {
    line-height: 60px;
    margin-bottom: 20px;
    font-size: 27px;
    font-weight: bold;
    padding: 0 10px;
    background: #6363BD;
    color: #fff;
}

#login-form label {
    font-family: "微軟正黑體";
    font-size: 16px;
}

#captcha-image {
    padding: 3px;
}